<h1>Listing contactus</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Cell</th>
      <th>Subject</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contactus.each do |contactu| %>
      <tr>
        <td><%= contactu.name %></td>
        <td><%= contactu.email %></td>
        <td><%= contactu.cell %></td>
        <td><%= contactu.subject %></td>
        <td><%= link_to 'Show', contactu %></td>
        <td><%= link_to 'Edit', edit_contactu_path(contactu) %></td>
        <td><%= link_to 'Destroy', contactu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<div class="apple_pagination">
    <div class="page_info">
      <%#= page_entries_info @contactus %>
    </div>
    <%= will_paginate @contactus, :container => false %>
  </div>
<br>

<%= link_to 'New Contactu', new_contactu_path %>
